.background-client {
  background: var(--corverde);
}

.topo {
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 4px 0 var(--coramarelo);
}
.topo-wrap {
  flex-wrap: wrap;
  justify-content: space-between;
}

.topo-logo-header {
  width: 15rem;
  height: 100%;
  padding: 0.8rem;
  margin: 0.8rem;
}
.topo-logo:hover {
  transform: scale(1.05);
}
.img-retina-logo {
  width: 100%;
  height: 100%;
}

.topo-mobile {
  padding: 0.8rem;
  margin: 0.8rem;
  border-radius: 0.4rem;
  transition: background 0.2s;
  background: none;
  border: 1px solid var(--cormenu);
}
.topo-mobile:hover {
  background: var(--cormenu);
}



.topo-menu {
  width: 100%;
  display: none;
}
.topo-menu-ativo {
  display: block;
}

.topo-centro {
  width: 100%;
  padding: 1.6rem 1.6rem;
  flex-direction: column;
  justify-content: flex-end;
}
.topo-centro-wrap {
  width: 100%;
  padding: 0.4rem;
}
.topo-centro-a,
.topo-centro-botao {
  width: 100%;
  height: 4.8rem;
  padding: 1.6rem 2.4rem;
  margin: auto;
  display: block;
  color: var(--corcinza);
  font-size: 1.2rem;
  font-family: 'open sans' sans-serif;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  background: var(--corverde);
  border-radius: 0.4rem;
  transition: color 0.2s, background 0.2s;
  border: 1px solid #1f887b;
}
.topo-centro-a:hover,
.topo-centro-botao:hover,
.topo-centro-botao-ativo {
  color: #fff;
  background: var(--cormenu);
}

@media all and (min-width: 768px) {
  .topo-wrap {
    height: 9rem;
    padding: 1rem;
    flex-wrap: nowrap;
    position: relative;
  }

  @media all and (min-width: 768px) {
    .topo-mobile {
      display: none;
      opacity: 0;
    }
  }

  .topo-menu {
    width: 36rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .topo-centro {
    height: 4.8rem;
    padding: 0.8rem 1.2rem;
    border-bottom: none;

    bottom: 0;
    left: 0;
    flex-direction: row;
  }
  .topo-centro-wrap {
    width: auto;
    position: relative;
  }
  .topo-centro-a,
  .topo-centro-botao {
    padding: 1.6rem;
  }
}

.menu {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0.4rem 0 2.4rem;
  display: none;
  position: relative;
  background: var(--corverde);
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
}
.menu-ativo {
  display: block;
}
.menu::after {
  content: '';
  position: absolute;
  top: -0.8rem;
  left: calc(50% - 0.8rem);
  border-left: 0.8rem solid transparent;
  border-bottom: 0.8rem solid var(--coramarelo);
  border-right: 0.8rem solid transparent;
}
.menu-wrap {
  border-bottom: 1px solid var(--cormenu);
}
.menu-wrap:last-of-type {
  border-bottom: none;
}
.menu-a,
.menu-botao {
  width: 100%;
  padding: 1.2rem;
  display: block;
  position: relative;
  transition: color 0.2s, background 0.2s;
  color: var(--corcinza);
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
.menu-a:hover,
.menu-botao:hover {
  background: var(--cormenu);
  color: var(--corcinza);
}
.menu-botao {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: padding 0.2s, color 0.2s, background 0.2s;
  background: var(--corverde);
}
.menu-botao::after {
  content: 'keyboard_arrow_down';
  width: 2rem;
  height: 2rem;
  margin: -4px 4px;
  color: rgba(0, 0, 0, 0.38);
  font-size: 2rem;
  line-height: 1;
  transition: transform 0.2s;
}
.menu-botao-ativo {
  padding: 2.4rem 1.2rem;
}
.menu-botao-ativo::after {
  transform: rotateZ(180deg);
}

.menu-wrap:first-of-type .menu-a,
.menu-wrap:first-of-type .menu-botao {
  border-radius: 4px 4px 0 0;
}
.menu-wrap:last-of-type .menu-a,
.menu-wrap:last-of-type .menu-botao {
  border-radius: 0 0 4px 4px;
}

.submenu {
  width: 100%;
  padding: 12px 0;
  display: none;
  position: relative;
  background: var(--corverde);
}
.submenu-ativo {
  display: block;
}
.submenu::before {
  content: '';
  width: 50%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 25%;
  background: var(--cormenu);
}
.submenu-a {
  width: 100%;
  padding: 12px;
  display: block;
  transition: color 0.2s, background 0.2s;
  color: var(--corcinza);
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  background: var(--corverde);
  text-transform: uppercase;
  border: 0.1px solid #1f887b;
}
.submenu-a:hover {
  background: var(--corverde);
  color: var(--corcinza);
}

@media all and (min-width: 720px) {
  .menu {
    width: 192px;
    margin: 0;
    position: absolute;
    top: 100%;
    left: calc(50% - 96px);
  }
  .menu-wrap {
    position: relative;
  }
  .menu-a {
    text-align: left;
  }
  .menu-botao {
    padding: 12px 4px 12px 12px;
    justify-content: space-between;
    text-align: left;
  }
  .menu-botao-ativo {
    background: var(--corverde);
    color: var(--cormenu);
  }
  .menu-botao::after {
    content: 'keyboard_arrow_right';
  }

  .submenu {
    width: 192px;
    padding: 0;
    border: 1px solid var(--cormenu);
    position: absolute;
    top: 8px;
    left: 100%;
    background: var(--corverde);
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 2px 4px 0 var(--cormenu);
  }
  .submenu::before {
    display: none;
  }
  .submenu-a {
    padding: 12px;
    border-bottom: 1px solid var(--cormenu);
    text-align: left;
  }
  .submenu-a:last-of-type {
    border-bottom: none;
  }
}

@media all and (min-width: 720px) and (hover: hover) {
  .topo-centro-botao-ativo {
    color: var(--cormenu);
    background: var(--corverde);
  }
  .menu-ativo {
    display: none;
  }
  .menu-botao-ativo {
    background: var(--corverde);
    color: rgba(0, 0, 0, 0.54);
  }
  .menu-botao-ativo::after {
    transform: none;
  }
  .submenu-ativo {
    display: none;
  }

  .topo-centro-wrap:hover .menu {
    display: block;
  }
  .menu-wrap:hover .submenu {
    display: block;
  }
  .menu-botao:hover::after {
    transform: rotateZ(180deg);
  }
}


.display-flex-header {
  display: flex;
  align-items: center;
}


/*Responsivo tamanho logo */
@media all and (min-width: 320px) {
  .topo-logo-header {
    width: 12rem;
    height: 100%;
  }
}

@media all and (min-width: 800px) {
  .topo-logo-header {
    width: 17rem;
    height: 100%;
  }
}